<div class="w-[20rem] m-5">
  <div class="flex flex-col gap-2 mb-4">
    <label for="username">User name:</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="userName"
    />
    <small id="username-help"> Enter your user name</small>
  </div>
  <div>
    <p-button label="Submit" (onClick)="showDialog()"></p-button>
  </div>
</div>

<p-dialog header="Dialog" [modal]="true" [(visible)]="visible">
  <div class="w-[20rem]">
    <h1>Hello {{ userName }}</h1>
  </div>
</p-dialog>
